table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.idsOfCoffees{
    display: none;
}

.coffee{
    width: 270px;
    margin: 3rem 1rem;
    border: none;
}

h2{
    padding-left: 3rem;
}
p{
    padding-top:1rem;
    justify-content: center;
}